.body{
    box-sizing: border-box;
    max-width: 1080px;

}
.header{
    text-align: center;
}
.main{
    margin: auto;
}
.grid{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.word{
    border-right: 1px solid black;
}
.translation{
    border-left: 1px solid black;
}
.button{
    margin-top: 1.5em;
    text-align: center;
}